[Desktop Entry]
Encoding=UTF-8
Name=Link to Deploy Static HTML Website as Container | Docker | Katacoda
Type=Link
URL=https://www.katacoda.com/courses/docker/create-nginx-static-web-server
Icon=text-html
